@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');

* {
    font-family: "Yuji Mai", serif;
}

#title {
    color: brown;
}

table,
tr,
td,
th {
    border: 1px solid black;
    text-align: center;
}

.data {
    width: 100%;
}